<%- include('./partials/header.ejs', {afterLogin: null}) %>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label>User name</label><br>
        <input type="text" name="username"><br><br>
        <label>Password</label><br>
        <input type="password" name="password"><br><br>
        <label for="first_name">First Name</label><br>
        <input type="text" name="first_name" required><br><br>
        <label for="last_name">Last Name</label><br>
        <input type="text" name="last_name"><br><br>
        <input type="submit" value="register">
    </form>
<%- include('./partials/footer.ejs') %>