<%- include('partials/header',{afterLogin: true}) %>

<form action="/admin/add" method="POST">
    <label>Name</label><br>
    <input type="text" name="name"><br><br>
    <label>Price</label><br>
    <input type="text" name="price"><br><br>
    <label>Location</label><br>
    <input type="text" name="location"><br><br>
    <label>Description</label><br>
    <input type="text" name="description"><br><br>
    <input type="submit" value="add Destination">
</form>